body {
     font-family: serif;
     background-color: #666;
}
.container {
     background-color: #fff;
     width: 710px;
     padding: 10px;
     margin: 0 auto;
}
p {
     width: 470px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
table {
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
table label {
     display: inline-block;
     font-size: 16px;
     font-weight: 700;
     margin: 10px 0 5px 0;
}
table td {
     gap: 30px;
}
input {
     width: 300px;
     padding: 12px 25px 12px 8px;
}
#countrys {
     width: 95%;
     height: 44px;
}
button {
     padding: 16px 28px;
     margin: 20px 0;
     outline: none;
     border: none;
     background-color: #08768d;
     cursor: pointer;
     color: #fff;
}