* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Manrope', sans-serif;
}
.header {
     padding: 30px 60px;
     display: flex;
     justify-content: space-between;
}
.navbar__list {
     display: flex;
     align-items: center;
     gap: 50px;
     list-style: none;
}
.navbar__link {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 5px;
     text-decoration: none;
     color: #333;
     font-size: 15px;
     font-weight: 700;
}
.navbar__link i {
     font-size: 10px;
}
