* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background-color: #eee;
}
.box {
     /* border-top: 60px solid #cf4a42;
     border-bottom: 60px solid #e85f57;
     border-left: 120px solid #e2514b;
     border-right: 120px solid #e85f57; */

     position: relative;
     transition: 0.25s linear;
}
/* .letter {
     position: absolute;
     top: 0;
     width: 180px;
     height: 200px;
     left: 50%;
     transform: translateX(-50%);
     background-color: #fff;
     transition: 0.25s linear;

     opacity: 0;
     visibility: hidden;
} */
/* .box:hover {
     transform: translateY(20px);
     z-index: 2;
}
.box:hover .letter {
     top: -160px;
     opacity: 1;
     visibility: visible;
} */
span:first-child {
     border-left: 100px solid transparent;
     border-right: 100px solid transparent;
     border-bottom: 50px solid #e85f57;
}

