* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Lato", sans-serif;
}
body {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height:100vh;
     background-color: #ddd;
}
.container {
     width: 720px;
     background-color: #fff;
     padding: 40px 70px;
}
.title {
     font-family: "Lobster", cursive;
     font-size: 50px;
     font-weight: 500;
     margin-bottom: 40px;
}
